<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>한철수 김영희의 Wedding Invitation by using jQuery Mobile</title>
  <link rel="stylesheet" href="resources/css/jquery.mobile-1.4.0.css">
  <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
<div id="fb-root"></div>

{{>body}}
{{>script}}

</body>
</html>