<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{user.groom}} {{user.brider}}ì˜ Wedding Invitation by using jQuery Mobile</title>
  {{>css}}
</head>
<body>
<div id="fb-root"></div>

{{>body}}
{{>script}}

</body>
</html>