<!--사진 페이지-->
<div data-role="page" id="page1">
  <!--<div class="box"></div>-->
  <div data-role="header" data-position="fixed" data-add-back-btn="true" >
    <h1> 사진첩 </h1>
  </div>
  <div data-role="content">
    <div id="slider" class="swipe">
      <div class="swipe-wrap">
        {{#each image.album1}}
        <div><img style="width: 100%;" src="./img/{{this}}"></div>
        {{/each}}
      </div>
    </div>
  </div>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><input type="button" id="prevButton" value="Prev" data-theme="a"></div>
    <div class="ui-block-b"><input type="button" id="nextButton" value="Next" data-theme="b"></div>
  </fieldset>
  {{>footer}}
</div>
<!--사진 페이지 끝-->