<!--사진( 슬라이드 없이 ) 페이지-->
<div data-role="page" id="page2">
  <div data-role="header" data-position="fixed" data-add-back-btn="true" >
    <h1> 사진첩(슬라이드 없이) </h1>
  </div>
  <div data-role="content">
    <div>
      <div>
        {{#each image.album2}}
        <div><img style="width: 100%;" src="./img/{{this}}"></div>
        {{/each}}
      </div>
    </div>
  </div>
  {{>footer}}
</div>
<!--사진( 슬라이드 없이 ) 페이지 끝-->
