<!--사진 페이지-->
<div data-role="page" id="page1">
  <!--<div class="box"></div>-->
  <div data-role="header" data-position="fixed" data-add-back-btn="true" >
    <h1> 사진첩 </h1>
  </div>
  <div data-role="content">
    <div id="slider" class="swipe">
      <div class="swipe-wrap">
        <div><img style="width: 100%;" src="./img/first.png"></div>
        <div><img style="width: 100%;" src="./img/second.png"></div>
        <div><img style="width: 100%;" src="./img/third.png"></div>
        <div><img style="width: 100%;" src="./img/fourth.png"></div>
        <div><img style="width: 100%;" src="./img/fifth.png"></div>
        <div><img style="width: 100%;" src="./img/sixth.png"></div>
      </div>
    </div>
  </div>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><input type="button" id="prevButton" value="Prev" data-theme="a"></div>
    <div class="ui-block-b"><input type="button" id="nextButton" value="Next" data-theme="b"></div>
  </fieldset>
  <div data-role="footer" data-position="fixed">
    <h1> xxxx년 xx월 xx일 행복한 웨딩홀 xx시 </h1>
  </div>
</div>
<!--사진 페이지 끝-->