<!--사진( 슬라이드 없이 ) 페이지-->
<div data-role="page" id="page2">
  <div data-role="header" data-position="fixed" data-add-back-btn="true" >
    <h1> 사진첩(슬라이드 없이) </h1>
  </div>
  <div data-role="content">
    <div>
      <div>
        <div><img style="width: 100%;" src="./img/first.png"></div>
        <div><img style="width: 100%;" src="./img/second.png"></div>
        <div><img style="width: 100%;" src="./img/third.png"></div>
        <div><img style="width: 100%;" src="./img/fourth.png"></div>
        <div><img style="width: 100%;" src="./img/fifth.png"></div>
        <div><img style="width: 100%;" src="./img/sixth.png"></div>
      </div>
    </div>
  </div>
  <div data-role="footer" data-position="fixed">
    <h1> xxxx년 xx월 xx일 행복한 웨딩홀 xx시 </h1>
  </div>
</div>
<!--사진( 슬라이드 없이 ) 페이지 끝-->
