
<!--피로연장 지도 페이지-->
<div data-role="page" id="location2">
  <div data-role="header" data-position="fixed" data-add-back-btn="true">
    <h1> 피로연 장소</h1>
  </div>
  <div data-role="content">
    <div id="map2">
    </div>
    <div class="address">
    {{location2.address}} <br>
    {{location2.comment}} <br>
    </div>
  </div>
  {{>footer}}
</div>
<!--피로연장 지도 페이지 끝-->
