
<!--결혼식장 지도 페이지-->
<div data-role="page" id="location1">
  <div data-role="header" data-position="fixed" data-add-back-btn="true">
    <h1> 오시는길</h1>
  </div>
  <div data-role="content">
    <div id="map1">
    </div>
    <div class="address">
    {{location1.address}} <br>
    {{location1.comment}} <br>
    </div>
  </div>
  {{>footer}}
</div>
<!--결혼식장 지도 페이지끝-->