
<!--결혼식장 지도 페이지-->
<div data-role="page" id="location">
  <div data-role="header" data-position="fixed" data-add-back-btn="true">
    <h1> 오시는길</h1>
  </div>
  <div data-role="content">
    <div id="map1">
    </div>
    <div class="address">
    주소 <br>
    하고 싶은말 <br>
    <br>
    장소
    </div>
  </div>
  {{>footer}}
</div>
<!--결혼식장 지도 페이지끝-->